body {
  margin: 0;
  padding: 0;
  background-color: #35a4ff;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  margin: auto;
  max-width: 40%;
}

button {
  margin: 0px 10px;
  padding: 10px;
  color: #FFF;
  background-color: #08406e;
  border: None;
  border-radius: 5px;
}

button:hover {
  background-color: #2cceff;
}

input {
  padding: 5px;
  min-width: 20%;
  border: None;
  border-radius: 3px;
}

.movie {
  border: 1px solid #000000;
  border-radius: 5px;
  margin: 10px 0px;
  padding: 10px;
}
