* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #93d0e2;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 10px;
  background-color: #168aad;
  color: #FFF;
}

.app {
  margin: auto;
}

h1 {
  text-align: center;
}

#search-form {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button {
  margin: 0px 10px;
  padding: 10px;
  color: #FFF;
  background-color: #52b69a;
  border: None;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #2cceff;
}

input {
  padding: 5px;
  min-width: 20%;
  border: None;
  border-radius: 3px;
}

h3 {
  font-weight: normal;
}

.movie {
  background-color: rgb(241, 243, 245);
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 3px 6px 1px #184e77;
}

.movie img {
  float: left;
  margin: 0px 10px 0px 0px;
}

#movie-title:hover {
  cursor: pointer;
}

.movies-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: repeat(5, 400px);
}

footer {
  padding: 30px;
  margin: 10px 0px 0px 0px;
  background-color: #168aad;
  text-align: center;
}